# Part4: Github Link for IE517 at 2023, HW6
https://github.com/kibae-kim/IE-517-ML-in-Fin-Lab-Section-A/tree/main/IE517_F20_HW6

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

# Part 1: Random test train splits
- Load ccdefault dataset.
- Split the dataset into training and testing sets

In [2]:
df = pd.read_csv('ccdefault-2.csv')
X, y = df.drop('DEFAULT', axis=1), df['DEFAULT']

clf = DecisionTreeClassifier(criterion='entropy', 
                             random_state=42)

- Train ML model on the training set.
- In-sample accuracy score by predicting the target labels attached on the training set and comparing them with the true labels.
- Out-of-sample accuracy score by predicting the output labels for the testing set and comparing them with the true output labels.

In [3]:
num_sample = 10
in_sample_acc = np.zeros(num_sample)
out_of_sample_acc = np.zeros(num_sample)

for i in range(num_sample):
    X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                       test_size=0.1,
                                                       random_state=i,
                                                       stratify=y)
    
    clf.fit(X_train, y_train)
    
    y_train_pred = clf.predict(X_train)
    in_sample_acc[i] = accuracy_score(y_train, y_train_pred)
    
    y_test_pred = clf.predict(X_test)
    out_of_sample_acc[i] = accuracy_score(y_test, y_test_pred)

- Calculate the mean and standard deviation of the in-sample accuracy scores
- Calculate the mean and standard deviation of the out_of-sample accuracy scores

In [4]:
mean_in_sample_acc = in_sample_acc.mean()
std_in_sample_acc = in_sample_acc.std()
mean_out_of_sample_acc = out_of_sample_acc.mean()
std_out_of_sample_acc = out_of_sample_acc.std()

- Report in a table format

In [5]:
report_table = pd.DataFrame({'random state': range(10),
                            'in-sample-accuracy': in_sample_acc,
                            'out-of-sample-accuracy': out_of_sample_acc})

report_table.loc['mean'] = ['', mean_in_sample_acc, mean_out_of_sample_acc]
report_table.loc['std'] = ['', std_in_sample_acc, std_out_of_sample_acc]
report_table

     random state  in-sample-accuracy  out-of-sample-accuracy
0               0                 1.0                0.739333
1               1                 1.0                0.729000
2               2                 1.0                0.726333
3               3                 1.0                0.732000
4               4                 1.0                0.718333
5               5                 1.0                0.736000
6               6                 1.0                0.734333
7               7                 1.0                0.733667
8               8                 1.0                0.728667
9               9                 1.0                0.728333
mean                              1.0                0.730600
std                               0.0                0.005575

# Part 2: Cross validation

In [6]:
from sklearn.model_selection import cross_val_score

- Split entire dataset into training and testing sets

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                   test_size=0.1,
                                                   stratify=y)

- ML model selection as DecisionTreeClassifier
- Record 10-fold cross-validation
- Calculate mean, standard deviation of cv_scores

In [8]:
clf = DecisionTreeClassifier(random_state=42)
cv_scores = cross_val_score(clf, X_train, y_train, cv=10)
mean_cv_scores = cv_scores.mean()
std_cv_scores = cv_scores.std()

- Report in a table format

In [9]:
report_table = pd.DataFrame({'cv_scores': cv_scores})
report_table.loc['mean'] = [mean_cv_scores]
report_table.loc['std'] = [std_cv_scores]
report_table

      cv_scores
0      0.734444
1      0.720370
2      0.720741
3      0.716667
4      0.722222
5      0.713704
6      0.727778
7      0.723704
8      0.734815
9      0.725926
mean   0.724037
std    0.006564

# Part 3: Conclusions
- Both ways of measuring accuracy are efficient to evaluate performance of DecisionTreeClassifier. However, provided information are slightly different from each other. 
- In Part 1, usual holdout method show how DecisionTreeClassifier's performs on specific subsets of data. But, it may be sensitively affected by the randomness of the splits.
- In Part 2, cross-validation is more stable in evaluating performance of DecisionTreeClassifier because it randomly split training set into 9 training folds and 1 test folds without replacement.
- If we have enough computiational resources, Cross-validation is more reliable method to evaluate data.

# Academic Integrity Instruction

In [10]:
print("My name is Kibae Kim")
print("My NetID is: kibaek2")
print("I hereby certify that I have read the University policy on Academic Integrity and that I am not in violation.")

My name is Kibae Kim
My NetID is: kibaek2
I hereby certify that I have read the University policy on Academic Integrity and that I am not in violation.